flows/.main_flow.json.backup
[{"id":"ccf8c5e2.e5a3a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77bc6daa.5c9b9c","type":"mqtt-broker","z":"","name":"","broker":"192.168.99.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1bf02e0.5034ad2","type":"inject","z":"ccf8c5e2.e5a3a","name":"Temperature","topic":"inside/fire/temperature","payload":"{\"Sensor\":{\"title\":\"FireTemp\",\"type\":\"Temperature\",\"location\":\"Inside/Fire\",\"time\":\"Now\",\"msg\":\"30\"}}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["3735156.920416a"]]},{"id":"6ed4f10c.8e6ae8","type":"debug","z":"ccf8c5e2.e5a3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"3735156.920416a","type":"function","z":"ccf8c5e2.e5a3a","name":"random temp/add timestamp","func":"\nmsg.payload.Sensor.msg = Math.random() * 1100 + \" °C\"\nmsg.payload.Sensor.time = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["dc1282d3.ec6ac8"]]},{"id":"d53dce95.686b","type":"inject","z":"ccf8c5e2.e5a3a","name":"open","topic":"/inside/shamans/door","payload":"{\"Sensor\":{\"title\":\"ShamanDoor\",\"type\":\"Door\",\"location\":\"Inside/Shaman\",\"time\":\"Now\",\"msg\":\"open\"}}","payloadType":"json","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["ddc62a0.17fabd8"]]},{"id":"ddc62a0.17fabd8","type":"function","z":"ccf8c5e2.e5a3a","name":"add timestamp","func":"\n\nmsg.payload.Sensor.time = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["296c33b6.de7f9c"]]},{"id":"620858ff.efe0a8","type":"debug","z":"ccf8c5e2.e5a3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Sensor.msg","targetType":"msg","x":650,"y":500,"wires":[]},{"id":"5a718a88.c930fc","type":"mqtt in","z":"ccf8c5e2.e5a3a","name":"door","topic":"/inside/shaman/door","qos":"0","datatype":"auto","broker":"77bc6daa.5c9b9c","x":130,"y":500,"wires":[["10e52a72.b06e66"]]},{"id":"296c33b6.de7f9c","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"door","topic":"/inside/shaman/door","qos":"","retain":"","broker":"77bc6daa.5c9b9c","x":510,"y":380,"wires":[]},{"id":"10e52a72.b06e66","type":"json","z":"ccf8c5e2.e5a3a","name":"","property":"payload","action":"","pretty":false,"x":370,"y":500,"wires":[["620858ff.efe0a8"]]},{"id":"aa347b98.aee5a8","type":"inject","z":"ccf8c5e2.e5a3a","name":"Humidity","topic":"inside/shaman/humidity","payload":"{\"Sensor\":{\"title\":\"ShamanHumidity\",\"type\":\"Humidity\",\"location\":\"Inside/Shaman\",\"time\":\"Now\",\"msg\":\"30\"}}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["f1f4b25b.5d3a3"]]},{"id":"613b79aa.fde0f","type":"debug","z":"ccf8c5e2.e5a3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":680,"wires":[]},{"id":"f1f4b25b.5d3a3","type":"function","z":"ccf8c5e2.e5a3a","name":"random humidity/add timestamp","func":"\nmsg.payload.Sensor.msg = Math.random() * 100 + \" %\"\nmsg.payload.Sensor.time = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["2344c4ba.a0458c"]]},{"id":"2344c4ba.a0458c","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/shaman/humidity","qos":"","retain":"","broker":"77bc6daa.5c9b9c","x":670,"y":600,"wires":[]},{"id":"4d9281fc.31ebe","type":"mqtt in","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/shaman/humidity","qos":"2","datatype":"auto","broker":"77bc6daa.5c9b9c","x":170,"y":680,"wires":[["cfbb54bc.8f436"]]},{"id":"cfbb54bc.8f436","type":"json","z":"ccf8c5e2.e5a3a","name":"","property":"payload","action":"","pretty":false,"x":430,"y":680,"wires":[["613b79aa.fde0f"]]},{"id":"7053d1ba.45c898","type":"inject","z":"ccf8c5e2.e5a3a","name":"Temperature","topic":"inside/shaman/temperature","payload":"{\"Sensor\":{\"title\":\"ShamanTemp\",\"type\":\"Temperature\",\"location\":\"Inside/Shaman\",\"time\":\"Now\",\"msg\":\"30\"}}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["1303706f.482358"]]},{"id":"a09b1ab7.e9f2b8","type":"debug","z":"ccf8c5e2.e5a3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":840,"wires":[]},{"id":"1303706f.482358","type":"function","z":"ccf8c5e2.e5a3a","name":"random temp/add timestamp","func":"\nmsg.payload.Sensor.msg = Math.random() * 40 + \" °C\"\nmsg.payload.Sensor.time = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":760,"wires":[["f03de39.4d1cf2"]]},{"id":"f03de39.4d1cf2","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/shaman/temp","qos":"","retain":"","broker":"77bc6daa.5c9b9c","x":660,"y":760,"wires":[]},{"id":"c43ac2e6.7ecde8","type":"mqtt in","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/shaman/temp","qos":"2","datatype":"auto","broker":"77bc6daa.5c9b9c","x":160,"y":840,"wires":[["11e6bb1c.6e63e5"]]},{"id":"11e6bb1c.6e63e5","type":"json","z":"ccf8c5e2.e5a3a","name":"","property":"payload","action":"","pretty":false,"x":430,"y":840,"wires":[["a09b1ab7.e9f2b8"]]},{"id":"b246bf3f.74c4b","type":"inject","z":"ccf8c5e2.e5a3a","name":"closed","topic":"/inside/shaman/door","payload":"{\"Sensor\":{\"title\":\"ShamanDoor\",\"type\":\"Door\",\"location\":\"Inside/Shaman\",\"time\":\"Now\",\"msg\":\"closed\"}}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":140,"y":420,"wires":[["ddc62a0.17fabd8"]]},{"id":"e486ab79.a8543","type":"mqtt in","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/fire/temperature","qos":"2","datatype":"auto","broker":"77bc6daa.5c9b9c","x":190,"y":240,"wires":[["ac132719.6f67f8"]]},{"id":"dc1282d3.ec6ac8","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"","topic":"/inside/fire/temperature","qos":"","retain":"","broker":"77bc6daa.5c9b9c","x":680,"y":140,"wires":[]},{"id":"ac132719.6f67f8","type":"json","z":"ccf8c5e2.e5a3a","name":"","property":"payload","action":"","pretty":false,"x":410,"y":240,"wires":[["6ed4f10c.8e6ae8"]]},{"id":"8555d27f.a11a28","type":"inject","z":"ccf8c5e2.e5a3a","name":"Infrared1","topic":"/outside/wall/infrared","payload":"{\"Sensor\":{\"title\":\"WallInfrared1\",\"type\":\"Infrared\",\"location\":\"outside/wall\",\"time\":\"Now\",\"msg\":\"movement\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1060,"wires":[["f6e11377.782bc"]]},{"id":"d537ed07.198458","type":"inject","z":"ccf8c5e2.e5a3a","name":"Infrared2","topic":"/outside/wall/infrared","payload":"{\"Sensor\":{\"title\":\"WallInfrared2\",\"type\":\"Infrared\",\"location\":\"outside/wall\",\"time\":\"Now\",\"msg\":\"movement\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["f6e11377.782bc"]]},{"id":"4caf759f.211c2c","type":"inject","z":"ccf8c5e2.e5a3a","name":"Infrared3","topic":"/outside/wall/infrared","payload":"{\"Sensor\":{\"title\":\"WallInfrared3\",\"type\":\"Infrared\",\"location\":\"outside/wall\",\"time\":\"Now\",\"msg\":\"movement\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1140,"wires":[["f6e11377.782bc"]]},{"id":"b996ff35.d341d","type":"inject","z":"ccf8c5e2.e5a3a","name":"Infrared4","topic":"/outside/wall/infrared","payload":"{\"Sensor\":{\"title\":\"WallInfrared4\",\"type\":\"Infrared\",\"location\":\"outside/wall\",\"time\":\"Now\",\"msg\":\"movement\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1180,"wires":[["f6e11377.782bc"]]},{"id":"f6e11377.782bc","type":"function","z":"ccf8c5e2.e5a3a","name":"add timestamp","func":"\n\nmsg.payload.Sensor.time = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1120,"wires":[["7ac1d7a3.377dc8"]]},{"id":"7ac1d7a3.377dc8","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"","topic":"/outside/wall/infrared","qos":"","retain":"","broker":"77bc6daa.5c9b9c","x":650,"y":1120,"wires":[]},{"id":"2398cd8e.e856f2","type":"mqtt in","z":"ccf8c5e2.e5a3a","name":"","topic":"/outside/wall/infrared","qos":"2","datatype":"auto","broker":"77bc6daa.5c9b9c","x":150,"y":1360,"wires":[["25e6c3f9.f91114"]]},{"id":"25e6c3f9.f91114","type":"json","z":"ccf8c5e2.e5a3a","name":"","property":"payload","action":"","pretty":false,"x":340,"y":1360,"wires":[["ee1c0f2d.04dbc8"]]},{"id":"ee1c0f2d.04dbc8","type":"function","z":"ccf8c5e2.e5a3a","name":"","func":"\nswitch(msg.payload.Sensor.title) {\n  case \"WallInfrared1\":\n    msg.payload.Sensor.title = \"TowerGuard1\"\n    break;\n  case \"WallInfrared2\":\n    msg.payload.Sensor.title = \"TowerGuard2\"\n    break;\n  case \"WallInfrared3\":\n    msg.payload.Sensor.title = \"TowerGuard3\"\n    break;\n  case \"WallInfrared4\":\n    msg.payload.Sensor.title = \"TowerGuard4\"\n    break;\n} \n\nmsg.payload.Sensor.type = \"eyesight\"\nmsg.payload.Sensor.location = \"/outside/wall/towers\";\nmsg.payload.Sensor.time = Date.now();\n\nvar rnd = Math.round(Math.random());\n\nif(rnd){\n    msg.payload.Sensor.msg = \"Enemy Sighted\"\n} else {\n    msg.payload.Sensor.msg = \"Nothing\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1360,"wires":[["c7eb4ae5.b30998"]]},{"id":"c7eb4ae5.b30998","type":"debug","z":"ccf8c5e2.e5a3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Sensor.msg","targetType":"msg","x":740,"y":1340,"wires":[]},{"id":"82f505de.bb5c48","type":"mqtt out","z":"ccf8c5e2.e5a3a","name":"","topic":"","qos":"","retain":"","x":700,"y":1440,"wires":[]}]